<ion-header-bar class="bar-dark">
    <h1 class="title">Messages</h1>
    <button ng-click='modal.show();' class="button button-icon icon ion-edit"></button>
 </ion-header-bar>
<!-- <div id="home" class="bar bar-header bar-dark">
  
  <h1 class="title">Messages</h1>
  <button ng-click='modal.show();' class="button button-calm icon ion-compose"></button>
</div> -->

<ion-content has-header="true">
<ion-refresher on-refresh="getLoc()" pulling-text="Pull to refresh..." refreshing-text="" refreshing-icon="ion-loading-c">              
</ion-refresher>
<ion-list>
  <ion-item id="messages" ng-repeat="message in messages" class="item item-text-wrap">
  	<span class="item-note" data-elapsed="{{message.elapsed}}" data-expires-at="{{message.expires_at}}">
      {{message.t}}
    </span>

    {{message.m}}
  </ion-item>
</ion-list>
</ion-content>