<div id="home" class="modal" ng-controller="ModalCtrl">
  <header class="bar bar-header bar-dark">
    <h1 class="title">New Message</h1>
    <button class="button button-clear button-calm" ng-click="modal.hide()">Cancel</button>
  </header>
  <ion-content has-header="true">
    <div class="padding">
      <div class="list">
        <label class="item item-input">
          <textarea ng-model="newUser.firstName" placeholder="Message"></textarea>
        </label>
        <button class="button button-full button-calm" ng-click="createContact()">Send</button>
      </div>
    </div>
  </ion-content>
</div>