<div id="home" class="modal" ng-controller="ModalCtrl">
  <header class="bar bar-header bar-dark">
    <h1 class="title">New Message</h1>
    <button class="button button-clear button-calm" ng-click="modal.hide()">Cancel</button>
  </header>
  <ion-content has-header="true">
  <form name="sendMessageForm" ng-controller="ModalCtrl" ng-submit="sendMessage(message)">
    <div class="list">
      <label class="item item-textarea">
        <textarea placeholder="Message" name="message" ng-model="message.message" ng-trim="false" ng-change="messageWatcher()"></textarea>
        <span>{{charLeft}}</span>
      </label>
    </div>
    <div class="padding">
      <button id="send" class="button button-full button-calm disabled">Send</button>
    </div>
  </form>
  </ion-content>
</div>